{
    "version" : "2017-02-28",
    "operation" : "Query",
    "scanIndexForward": true,
    "index": "messages-chatId-createdAt-index",
    "query" : {
      "expression": "chatId = :chatId",
      "expressionValues" : {
        ":chatId": {
          "S": "${ctx.args.filter.chatId.eq}"
        }
      }
    }
}